target/
.idea/
*.iml
*.log
*.log.*
logs/
test-output
test-output-maven
release

src/main/java/conversion7/MainSomeDebugs.java
testng-customsuite.xml

~*.xlsx
save/

**.sfk
**wip.xml
**wip.xml.*
**xml.fixed**
**xml.json**
**/history/**
classes/
.gradle
gradle
gradle.propertiesxe
gradlew
gradlew.bat